absl-py==2.1.0
annotated-types==0.7.0
bauplan==0.0.3a342
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==43.0.3
func_timeout==4.3.5
grpcio==1.71.0
idna==3.10
opentelemetry-proto==1.27.0
protobuf==4.25.6
pyarrow==19.0.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
PyYAML==6.0.2
requests==2.32.3
sqlglot==25.34.1
typing_extensions==4.12.2
urllib3==2.3.0
